/*gold colour : d7b21d
pink colour : F18585
light pink : #F5A7A7*/
@font-face{
    font-family : "text";
    src : url('../style/Handlee-Regular.ttf');
}
@font-face{
    font-family : "semi_titles";
    src : url('../style/PetitFormalScript-Regular.ttf');
}
@font-face{
    font-family : "titles";
    src : url('../style/Parisienne-Regular.ttf');
}
body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 1.3rem;
    font-family : "text";
}
.partI , .partII , .partX {
    width: 100%;
    height: 100vh;
    padding: 5vh 5vh 5vh 5vh;
}

.center {
    display:flex;
    justify-content: center;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
}
.rowrow{
    display: flex;
    flex-direction: row;
}
.bold{
  font-weight: bold;
}
.title {
  font-family: "titles";
}
.underlign {

  padding-bottom: 1vh;

}
/* Partie 0*/
.partX {
    background: linear-gradient(to bottom, lightcoral,lightcoral, #F5A7A7, white), url('../image/effect.png');
    background-size: cover;
}
.navbar {
  justify-content: space-between;
}
.navbar a {
  text-decoration: none;
  color:white;
  font-weight: bold;
}
.maintitle {
  color: white;
  text-align: center;
  height: 70vh;
  margin:0 auto;
}
.maintitle h1{
  font-family : "titles";
  text-align: center;
  font-size: 6rem;
}
.maintitle h1 , .maintitle h5 {
  margin:0.5vh;
}
.maintitle h5 {
  padding: 3vh;
  width: 50%;
}
.maintitle span :first-child {
border-right: 2px solid white;
}
.lowpart img {
  width: 10vh;
  height:auto;
}
.lowpart img:hover {
  width: 12vh;
  height:auto;
}
/* Partie I*/

/* 1ere division*/
.partI_id {
  justify-content: space-around;

}
.partI_id1 {
    border-right: 1.5px solid lightcoral;
    width: 70%;
    height: auto;

}
.photo {
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
}
.partI_id_caption p{
  text-align: left;
  padding-left: 4vh;
  line-height: 1.5;
  align-items: center;
  margin: 0;
}

.partI_studies img {
    width:75%;

}
.partI_studies{
  margin: 0;
}
.partI_id2 > h5, .partI_id2 > h6 , .partI_id2 > p {
  margin: 0;
  text-align: left;
  line-height: 1.5;
}
.partI_id2 {
    height: 30vh;
    padding-left: 5vh;
}
.partI_id2 > p {
  font-size: 1.1rem;
}
.text {

}
.logos{
  padding: 0;
  margin: 0;
}
.logos img {
  height: 10vh;
  margin: 3vh 3vh 0vh 3vh;
}
.logos button{
  border-style: none;
  background: none;
  cursor:pointer;
}
.logos img:hover{
  border-radius: 50%;
  border: 4px dotted lightcoral;
}
.underlign {

}
/* Partie II*/
.partII {
  background: linear-gradient(to top, #F5A7A7, white);

}
.myprojects {
  width: 75%;
  height: auto;
  margin:0;
  padding-top: 2vh;
  /*
  background-color: white;
  border: 10px solid #FBDBDB;
  */
  background-color: rgba(253, 238, 238, 0.4);
  border: 2vh solid white;

  border-radius: 10vh;
  background-blend-mode: screen;
}
.partII_title{
  text-align: center;
}
.partII_links{
  flex-wrap: wrap;
}
.project1 {
  background-image: url('../image/project1.png');
}
.project2 {
  background-image: url('../image/project2.png');
}
.project3 {
  background-image: url('../image/project3.png');
}
.project4 {
  background-image: url('../image/project4.png');
}
.projects{
  width: 60vh;
  height: 30vh;
  background-size: cover;
  margin: 5vh;
  box-shadow: 5px 5px 5px #4a4948;
}
.projects:hover{
  width: 61vh;
  height: 31vh;
}



/*modal messages*/
.modal_black{
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 1;
}
.message {
  padding: 5vh;
  width:80vh;
  height: 30vh;
  background-color: white;
  border : 5px solid rgba(240,128,128,1.5);
  border-radius: 5px;
  color:black;
  position:fixed;
  top: 25vh;
  left: 65vh;
  box-shadow: 2px 2px 2px grey;
  z-index: 2;
}
.closing{
  display: none;
}

.closeButton{
  float:right;
  color: grey;
  font-size: 30px;
  background: none;
  border-style: none;
}
.closeButton:hover, .closeButton:focus{
  color: black;
  cursor: pointer;
}
